{% extends "services/moa/_moa_shell.html" %}
{% block moa_form %}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    {% include "services/moa/_moa_field.html" with field=form.moa_title %}
    {% include "services/moa/_moa_field.html" with field=form.moa_reference_no %}
    {% include "services/moa/_moa_field.html" with field=form.moa_start_date %}
    {% include "services/moa/_moa_field.html" with field=form.moa_end_date %}
  </div>

  {% include "services/moa/_moa_field.html" with field=form.purpose %}
  {% include "services/moa/_moa_field.html" with field=form.background %}
{% endblock %}
