{% extends "services/moa/_step_shell.html" %}

{% block moa_step_label %}Obligations and Terms{% endblock %}

{% block moa_guidance_title %}Be specific{% endblock %}
{% block moa_guidance_text %}This is where the contract becomes operational. Write clear responsibilities and concrete deliverables.{% endblock %}

{% block moa_fields %}
  {% include "services/moa/_field.html" with field=form.obligations %}
  {% include "services/moa/_field.html" with field=form.deliverables %}
  {% include "services/moa/_field.html" with field=form.confidentiality %}
{% endblock %}

{% block moa_back %}
  <a href="{% url 'proposal_moa_step' proposal.id 2 %}" class="nx-btn">Back</a>
{% endblock %}

{% block moa_submit_label %}Save and continue{% endblock %}
