{% extends "services/moa/_moa_shell.html" %}
{% block moa_form %}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    {% include "services/moa/_moa_field.html" with field=form.party_one_name %}
    {% include "services/moa/_moa_field.html" with field=form.party_one_representative %}
    {% include "services/moa/_moa_field.html" with field=form.party_two_name %}
    {% include "services/moa/_moa_field.html" with field=form.party_two_representative %}
  </div>

  {% include "services/moa/_moa_field.html" with field=form.signatories_notes %}
{% endblock %}
