{% comment %}Block: Extension Personnel (PERSONNEL).{% endcomment %}
{% include "details/blocks/_heading.html" %}

<div class="mt-10">
    {% if data.personnel %}
        <ul class="nx-personnel-grid">
            {% for person in data.personnel %}
                <li class="nx-person">
                    {% if person.photo %}
                        <img src="{{ person.photo.url }}" alt="{{ person.name }}" class="nx-person__photo">
                    {% else %}
                        <span class="nx-person__initial" aria-hidden="true">{{ person.name|first|upper }}</span>
                    {% endif %}
                    <div>
                        <h3>{{ person.name }}</h3>
                        <p>{{ person.position }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="nx-empty">No personnel have been published yet.</p>
    {% endif %}
</div>
